{{>header}}

      <h2 style="text-align: center;">Hello {{firstName}} {{lastName}}</h2>
      <br/>
      <br/>
      <p style="text-align: center;">
      You need to resubmit 
      {{^hasFamilyMember}} 
        your 
      {{/hasFamilyMember}} 
      {{documentType}}
      {{#hasFamilyMember}} 
        for 
        {{familyMemberName}} 
      {{/hasFamilyMember}}</p>

{{>footer}}